{% extends "jobportal/base.html" %}
{% block tittle%} Register/Login {% endblock %}
{% block content %}

<div class="container">
    <div class="jumbotron">
        <style>
            .container
            {
                padding-top: 184px;
            }
        </style>
        <center>
            <button btn btn-lg onclick="location.href = '/register';">
                Register
            </button>

            <button btn btn-lg onclick="location.href = '/login';">
                Login
            </button>
        </center>
    </div>
</div>


{% endblock %}